body {
    margin: 0;
    place-items: center;
	text-align: center;

	background-color: #73859D;
}

body > div {
	padding: 20px;
}

button {
    padding: 20px 32px;

	font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;

    cursor: pointer;

    background-color: #4F78A8;
    color: white;

	border-style: none;

    transition: background-color 0.2s ease, transform 0.1s ease;
}

.grid-container {
	display: grid;
	justify-content: center;
}

.grid {
	display: grid;
	justify-content: center;

	gap: 1px;
	padding: 1px;
	background-color: #C9D2DD;
}

.grid-row {
	display: flex;
}

.grid-node {
	margin: 1px;

	width: 60px;
	height: 60px;
	background-color: #E6EBF2;
	
	transition: background-color 0.2s ease;
}

.start-node {
	background-color: #22C55E !important;
}

.end-node {
	background-color: #EF4444 !important;
}

.searched-node {
	background-color: #93A4B8;
}

.path-node {
	background-color: #FBBF24;
}

.button-container {
	display: inline;
}